-
    const data = {
        assetsVersion: 42,
        googleAnalyticsId: 'UA-113541070-1',
        pageFavicon: {
            href: 'assets/favicon.jpeg',
            type: 'image/jpeg'
        },
        pageTitle: 'Benjamin Raymond',
        name: 'Benjamin Raymond',
        title: 'Software Engineer',
        cvLinkTitle: 'See my CV',
        cvLink: 'assets/resume.pdf',
        links: [
            {
                title: 'Explore domaTeX',
                href: 'https://domatex.fr',
                img: 'assets/domatex.png',
                rel: 'nofollow',
                target: '_blank'
            },
            {
                type: 'separator'
            },
            {
                title: 'Explore my GitHub',
                href: 'https://github.com/7PH',
                icon: 'fa-github',
                rel: 'nofollow',
                target: '_blank'
            },
            {
                title: 'See me on LinkedIn',
                href: 'https://www.linkedin.com/in/b-raymond',
                icon: 'fa-linkedin',
                rel: 'nofollow',
                target: '_blank'
            },
            {
                title: 'Send me an email',
                href: 'mailto:b.raymond@protonmail.ch',
                icon: 'fa-envelope',
                rel: 'follow',
                target: '_self'
            }
        ], "musics": [
            {
                title: 'Duke & Jones - Delusions (FJØRA)',
                path: 'assets/duke-jones-delusions.mp3'
            },
            {
                title: 'INZO - Overthinker (Alan Watts)',
                path: 'assets/inzo-overthinker.mp3'
            },
            {
                title: '- music off -',
                path: 'false'
            }
        ]
    }

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title= data.pageTitle
        link(rel='icon', href=data.pageFavicon.href, type=data.pageFavicon.type)

        link(href='https://fonts.googleapis.com/css?family=Sacramento', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Kalam', rel='stylesheet')
        link(rel='stylesheet', href='styles.css?' + data.assetsVersion)

        script(src='https://cdn.jsdelivr.net/npm/pixi.js-legacy@5.2.0/dist/pixi-legacy.min.js')
        script(src='https://use.fontawesome.com/0cebcc1cf0.js')

        script(async, src='https://www.googletagmanager.com/gtag/js?id=' + data.googleAnalyticsId)
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', '#{data.googleAnalyticsId}');
    body

        div#page-preview
            p click to play

        div#page-content
            div#page-titles
                header
                    div#page-title.animated-slow.outofscreen
                        h1= data.name
                        p.subtitle= data.title
                        p.text: a(href=data.cvLink + '?' + data.assetsVersion, target='_blank', rel='nofollow')= data.cvLinkTitle

            section#section-meta.animated-slow.outofscreen
                select#music-select
                    each item in data.musics
                        option(value=item.path)= item.title

            section#section-links.animated-slow.outofscreen
                each item in data.links
                    if item.type === 'separator'
                        hr.separator
                    else
                        div.section-icon-container
                            a.section-icon-link(title=item.title, class='reflink', href=item.href, target=item.target, rel=item.rel)
                                if item.icon
                                    i(class='fa fa-white ' + item.icon)
                                else
                                    img.section-icon-img(src=item.img)
                            div.section-icon-circle.animated

            div#animation-container.animated
                p#fps-info
                    span#fps 0
                    |  fps
                div#animation-canvas


        script(src='bundle.js?' + data.assetsVersion)
