-
    const data = {
        googleAnalyticsId: 'UA-113541070-1',
        pageFavicon: {
            href: 'assets/favicon.png',
            type: 'image/png'
        },
        pageTitle: 'Benjamin Raymond',
        name: 'Benjamin Raymond',
        title: 'Software Engineer',
        cvLinkTitle: 'See my CV',
        cvLink: 'assets/cv.pdf',
        footerLinks: [
            {
                title: 'Explore domaTeX',
                href: 'https://domatex.fr',
                img: 'assets/domatex.png',
                rel: 'nofollow',
                target: '_blank'
            },
            {
                type: 'separator'
            },
            {
                title: 'Explore my GitHub',
                href: 'https://github.com/7PH',
                icon: 'fa-github',
                rel: 'nofollow',
                target: '_blank'
            },
            {
                title: 'See me on LinkedIn',
                href: 'https://www.linkedin.com/in/b-raymond',
                icon: 'fa-linkedin',
                rel: 'nofollow',
                target: '_blank'
            },
            {
                title: 'Send me an email',
                href: 'mailto:b.raymond@protonmail.ch',
                icon: 'fa-envelope',
                rel: 'follow',
                target: '_self'
            }
        ]
    }

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title= data.pageTitle
        link(rel='icon', href=data.pageFavicon.href, type=data.pageFavicon.type)

        link(href='https://fonts.googleapis.com/css?family=Sacramento', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Kalam', rel='stylesheet')
        link(rel='stylesheet', href='styles.css')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.1/pixi.min.js')
        script(src='https://use.fontawesome.com/0cebcc1cf0.js')

        script(async, src='https://www.googletagmanager.com/gtag/js?id=' + data.googleAnalyticsId)
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', '#{data.googleAnalyticsId}');
    body
        div#page-content
            header
                div#page-title.slow-appearing
                    h1= data.name
                    p.subtitle= data.title
                    p.text: a(href=data.cvLink, target='_blank', rel='nofollow')= data.cvLinkTitle

        footer
            div#footer-content
                each item in data.footerLinks
                    if item.type === 'separator'
                        hr.separator
                    else
                        div.footer-icon-container
                            a.footer-icon-link(title=item.title, class='reflink', href=item.href, target=item.target, rel=item.rel)
                                if item.icon
                                    i(class='fa fa-white ' + item.icon)
                                else
                                    img.footer-icon-img(src=item.img)
                            div.footer-icon-circle.animated

        div#animation-container
            p#fps-info
                span#fps 0
                | fps
            div#animation-canvas


        script(src='bundle.js')